<% include partials/header %>
<div class="bgform alt scroller">
<div class="container container-body">
  <div class="row">
    <div id="head-splitter" class="formtype" >
        <div class="form-group">
          <input class="form-control xtra-w" type="text" id="name" placeholder="Meal Name" value="<%= meal.name %>">
        </div>
        <div class="form-group">
          <input class="form-control xtra-w"type="text" id="image-name" value="<%= meal.image %>">
        </div>
        <div class="form-group" id="ing">
        <label for="add">Add Ingredients & Quantities</label>
          <button type="button" class="btn-custom icn"  id="add">+</button>
          <ul id="ing-list">
          <% meal.ingredients.forEach(item => { %>
          <li>
            <input placeholder="name" class="form-control" type="text" value="<%= item.name %>"></input>
            <input placeholder="quantity" class="form-control left" type="number" value="<%= item.quantity %>"></input>
            <select id="measurement"> 
              <option value="g">g</option>
              <option value="oz">oz</option>
              <option value="cups">cups</option>
              <option value="tsp">tsp</option>
              <option value="tbsp">tbsp</option>
              <option value="lb">lb</option>
            </select>
          <button type="button" class="remover">-</button>
          </li>
          <% }) %>
          </ul>
        </div>
        <div class="form-group">
          <textarea class="form-control" id="txtarea" rows="5" id="description"><%= meal.description %></textarea>
        </div>
        <div class="form-group">
          <button class="btn-custom" putData="<%= meal._id%>" id="send">Submit</button>
        </div>
    </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
let ingList = document.querySelector('#ing-list'),
sendButton = document.querySelector('#send'),
ing = document.querySelector('#ing');

ing.addEventListener('click', event => {
  event.preventDefault();
  event.stopPropagation();
  let target = event.target;
  if(target.id === 'add') {
    let item = document.createElement('li'),
    list = document.querySelector('#ing-list');
    item.innerHTML = '<input class="form-control" placeholder="name" type="text"></input><input class="form-control left" placeholder="quantity" type="number"></input><select id="measurement">' + 
      '<option value="g">g</option><option value="oz">oz</option><option value="cups">cups</option><option value="tsp">tsp</option>' +
      '<option value="tbsp">tbsp</option><option value="lb">lb</option></select><button type="button" class="remover">-</button>';
    list.appendChild(item);
  } else if (target.className === 'remover') {
    let node = target.parentNode;
    node.parentNode.removeChild(node);
  }
})

sendButton.addEventListener('click', () => {
  event.preventDefault();
  event.stopPropagation();

  let name = document.querySelector('#name'),
  image = document.querySelector('#image-name'),
  description = document.querySelector('#description'),
  list = [],
  nodes = ingList.children,
  length = nodes.length;

  if(length) {
  for(let i = 0; i < length; i++) {
    list.push({name: nodes[i].children[0].value, quantity: nodes[i].children[1].value, type: nodes[i].children[2].value })
  }
}
  axios.put('/meals/' + sendButton.attributes.putData.value, {
    name: name.value,
    description: description.value,
    ingredients: list,
    image: image.value
  }).then(res=> {
    window.location = '/meals/' + sendButton.attributes.putData.value ;
  }).catch(err => {
    console.log(err)
  })

})</script>
<% include partials/footer %>
