<% include partials/header %>
<div class="header-index">
  <div class="meal-name">
    <h1><%= meal.name %></h1>
    <hr class="hrline">
  </div>
    <div class="dark-index"></div>
    <div class="bgimage-meal" style="background-image: url('<%= meal.image %>')"></div>
  </div>
<div class="container-body">
  <div class="row set">
    <div class="col-md-4 img-side">
      <div class="card card-ingredients">
        <div class="card-body">
          <h1 class="title">Ingredients</h1>
          <hr class="hrline">
          <ul>
          <% meal.ingredients.forEach(ingredient => { %>
          <div class="row ingredient">
          <div class="col-md-8 name-ing">
          <li><%= ingredient.name %>
          </div>
          <div class="col-md-4 number-ing">
          <li><%= ingredient.quantity%> <%= ingredient.type%></li>
          </div>
          </div>
          <% }) %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-special  spx">
        <div class="card special">
          <div class="card-body">
          <div class="caption">
              <h1 class="title">Instructions</h1>
              <hr class="hrline">
            <p class="descriptions"><%= meal.description %></p>
            <hr class="hrline">
            <p class="creator">Meal created by <%= meal.creator.username %></p>
            <% if(currentUser && meal.creator.id.equals(currentUser._id)) { %>
              <a class="btn-custom" href="/meals/<%= meal._id %>/edit">Edit</a>
              <form class="bt-element" action="/meals/<%= meal._id %>/delete?_method=DELETE" method="post">
                <div class="form-group">
                  <button class="btn-custom" >Delete</button>
                </div>
              </form>
            <% } %>
          </div>
        </div>
        </div>
        <div class="d-flex justify-content-center csec">
            <a class="btn-custom" href="/meals/<%= meal._id %>/comment/new">Comment</a>
        </div>
        <ul>
          <% meal.comments.forEach(function (comment) { %>
      <div class="comment row">
            <li class="comments">
            <div class="author"><%= comment.author.username %></div>
               <p><%= comment.text %> </p>
              <% if(currentUser && currentUser._id.equals(comment.author.id)) { %>
                <a href="/meals/<%= meal._id %>/comment/<%= comment._id %>/edit"><i class="fas fa-edit"></i></a>
                <form id="comment-form" class="bt-element" action="/meals/<%= meal._id %>/comment/<%= comment._id %>/delete?_method=DELETE" method="post">
                  <div class="form-group">
                    <a href="javascript:$('#comment-form').submit();"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </form>
              </li>
            </div>
              <% } %>
              <% }); %>
            </ul>
        </div>
      </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
